.bgSignup {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: radial-gradient( circle at center, rgba(95, 64, 163, 0.971), rgba(215, 213, 170, 0)), url("../../img/rsz_pexels-bithinraj-mb-2763927.jpg");
    z-index: -1;
}   

.signup_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup_h2 {
    color: rgb(71, 4, 82);
}

#signup_submit {
    margin-top: 20px;
    background-color: transparent;
    color: rgb(195, 245, 243);
    border: 1px solid rgb(195, 245, 243);
    cursor: pointer;
    font-size: 16px;
}

#signup_submit:hover {
    border: 2px solid rgb(195, 245, 243);
    font-weight: bold;
}

.errorMsg {
    margin-top: 40px;
    margin-bottom: -30px;
    font-size: 14px;
    color: rgb(195, 245, 243);
    text-shadow: 1px 1px 1px black;
}