
@keyframes rightAnimation {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0);
}
}

@keyframes leftAnimation {
from {
    transform: translateX(100%);
}
to {
    transform: translateX(0);
}
}

.bgConnexion {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    background-image: radial-gradient( circle at center, rgba(146, 41, 41, 0.941), rgba(170, 183, 215, 0)), url("../../img/rsz_pexels-bithinraj-mb-2763927.jpg");
    z-index: -1;
    overflow: hidden;
}

.bgPicture {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.contConnexion {
    display: flex;
    gap: 100px;
}

.boxConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: all 4000ms ease;

}

.btnConnexion {
    text-decoration: none;
    color: white;
    font-family: "Chelsea Market";
    border: 3px solid white;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    transition-duration: all 4000ms ease; 
}
.btnConnexion:hover {
    background-color: white;
    color: #922929;
    font-weight: bold;
}

.space_keeper {
    height: 66px;
}

.titleConnexion {
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 1px red;
}

.titleLeft {
    margin-right: 35%;
    animation: leftAnimation 1200ms ease-out;
}

.titleRight {
    margin-left: 35%;
    animation: rightAnimation 4500ms ease-out;
}




/* // MEDIA QUERIES */

@media (max-width: 600px) {
    .titleConnexion {
        color: white;
        font-size: 50px;
    }
    .titleLeft {
        margin-right: 15%;
    }
    
    .titleRight {
        margin-left: 15%;
    }
}

@media (max-width: 430px) {
    .titleLeft {
        margin-right: 10%;
    }
    
    .titleRight {
        margin-left: 10%;
    }

    .contConnexion {
        display: flex;
        gap: 30px;
    }
}