.memory {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memory_container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    gap: 15px;
    margin: auto;

}

.memory_title {
    text-align: center;
    margin-bottom : 15px;
}

.memory_title button {
    width: 100px;
    height: 30px;
}

.memory_winBox {
    width: 60%;
    height: 500px;
    background-color: rgba(193, 192, 184, 0.684);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}