.box_card_game {
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    transition: all 0.1s ease-out;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    margin: 20px;
}
.box_card_game:hover {
    color: rgb(246, 230, 142);
    font-weight: bold;
    background: rgba(37, 37, 37, 0.422);
}

.game_title {
    text-align: center;
    line-height: 22px;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 25px;
}
.game_picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
}

.game_p {
    padding: 0 30px;
    margin-top: 25px;
    font-size: 15px;
}

.boxActive_game {
    /* clip-path: circle(100%); */
    color: rgb(246, 230, 142);
    font-weight: bold;
    background: rgba(37, 37, 37, 0.422);
    border: 4px solid rgba(248, 174, 144, 0.301);
}

.category {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.category_box {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border-bottom: 1px solid rgba(127, 177, 201, 0.59); */
    margin-bottom: 30px;
    margin-top: 10px;
    gap: 5px;

}

.category_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 22px;
    background-color: rgba(18, 18, 18, 0.604);  
    height: 40px;
}


.box_card_category {
    width: 200px;
    height: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    color: white;
    font-size: 23px;
    margin: 10px 10px;
    /* clip-path: circle(90% at 60px 15%); */
    /* transition: all 0.2s ease-out; */
    border-radius: 35px 35px 0 0;
    border: 3px solid rgba(255, 255, 255, 0.716);
}
.box_card_category:hover {
    color: rgb(248, 185, 236);
    /* clip-path: circle(100%); */
}

.boxActive_category {
    /* clip-path: circle(100%); */
    color: rgb(246, 230, 142);
    font-weight: bold;
    background: rgba(213, 106, 100, 0.299);
    box-shadow: 0 0 20px white;
}

.welcome_title {
    font-size: 34px;
    text-align: center;
    color: rgb(246, 230, 142);
    padding: 10px;
}

.categoryBtn {
    padding: 15px;
    background-color: gold;
    width: 150px;
    cursor: pointer;
}

.category_link{
    color: rgb(255, 255, 255);
    background: rgba(3, 33, 33, 0.322);
    width: 220px;
    height: 60px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.category_link:hover {
    color: rgb(246, 230, 142);
    border: 2px solid rgb(246, 230, 142);
    font-size: 25px;
    background: linear-gradient( 145deg, rgba(242, 229, 176, 0.416), rgba(177, 177, 21, 0.323));

}

.category_picture {
    height: 105px;
    width: 100%;
    border-radius: 32px 32px 0 0;
    object-fit: cover;
    pointer-events: none;
}

.category_trophee {
    margin-left: 15px;
    pointer-events: none;
}

.category_rules {
    font-size: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {

    .box_card_category {
        width: 170px;
        height: 130px;
    }
    .category_picture {
        height: 87px;
    }
    .category_title {
        font-size: 18px;
    }
    .game_title {
        font-size: 18px;
    }

    .game_p {
        padding: 0 50px;
        margin-top: 25px;
    }

}

@media (max-width: 440px) {
    .box_card_category {
        width: 150px;
        height: 115px;
    }
    .category_picture {
        height: 80px;
    }
    .category_title {
        font-size: 15px;
    }
    .welcome_title {
        font-size: 30px;
    }
    .game_title {
        font-size: 18px;
    }
}


@media (max-width: 400px) {
    .box_card_category {
        width: 140px;
        height: 105px;
    }
    .category_picture {
        height: 70px;
    }
    .category_title {
        font-size: 14px;
    }
    .welcome_title {
        font-size: 26px;
    }

}

@media (max-width: 370px) {
    .box_card_category {
        width: 125px;
        height: 105px;
    }
    .category_picture {
        height: 70px;
    }
    .category_title {
        font-size: 12px;
    }
}