
.bgHome {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    background-image: radial-gradient( circle at center, rgba(102, 40, 39, 0.951), rgba(26, 17, 150, 0.589)), url("../../img/rsz_pexels-bithinraj-mb-2763927.jpg");
    z-index: -1;
}

.home {
    margin: 0 10px;
  }


/* .pattern {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.footer {
    background-color: transparent;
    width: 100%;
    height: 150px;
}