
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

h1 {
    font-size: "40px";
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}

.header__logout {
    /* height: 60px; */
    /* display: flex; */
    /* align-items: center; */
}

