.quizOver {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.quizOver_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quizOver_title_win {
    background-color: rgba(199, 196, 193, 0.079);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top :10px;
    border-radius: 30px;
    position: relative;
}
.quizOver_title_win > p {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(246, 230, 142);
}
.quizOver_boxButtons_win {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.quizOver_title_final {
    background-color: rgba(199, 196, 193, 0.079);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.quizOver_title_final h2 {
    font-size: 50px;
    padding: 10px;
    background: -webkit-linear-gradient(#f75734, rgb(236, 255, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quizOver_title_final p {
    font-size: 18px;
    color: rgb(246, 230, 142);
}

.quizOver_title_failed {
    background-color: rgba(199, 196, 193, 0.079);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top :10px;
    border-radius: 30px;
    position: relative;
}
.quizOver_title_failed > p {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
}

.quizOver button {
    width: 180px;
    height: 55px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    border: 2px solid rgba(155, 154, 154, 0.652);
    padding: 2px;
}
.quizOver button:hover {
    background: linear-gradient( 145deg, rgba(233, 216, 148, 0.526), rgba(177, 177, 21, 0.323));
    color: rgb(246, 230, 142);
    font-size: 18px;

}

.quizOver_progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(199, 196, 193, 0.144);
    margin-top: 20px;
    border-radius: 20px;
    color: rgb(246, 230, 142);
}

.quizOver_progress_box {
    height: 50px;
    width: 320px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(33, 33, 33, 0.701);
}

.trophee {
    min-height: 80px;
    min-width: 80px;
    margin-left: 50px;
}

.quizOver_answers {
    border: 1px solid rgb(86, 86, 86);
    padding: 20px;
    background-color: rgba(199, 196, 193, 0.144);
    margin-top: 20px;
    border-radius: 5px;
}

.table_answers {
    color: white;
    font-size: 22px;
    /* border-collapse: collapse; */
}

.table_th_answer {
    margin: 50px 50px;
}

.quizOver_answers th {
    padding: 20px 60px;
    background-color: rgba(53, 53, 53, 0.456);
    font-size: 17px;
    border: 1px solid rgb(86, 86, 86);
}

.quizOver_answers td {
    padding: 15px;
    font-size: 15px;
    background-color: rgba(10, 10, 10, 0.612);
    color: white;
    border: 1px solid rgb(86, 86, 86);
    width: 100%;
}

@media (max-width: 980px) {
    .quizOver {
        width: 70%;
    }
}

@media (max-width: 820px) {

    .quizOver_answers {
        padding: 10px;
    }
    .quizOver_title {
        flex-direction: column;
    }

    .quizOver_title p {
        font-size: 18px;
    }
    .quizOver_answers th {
        padding: 20px 0px;
        padding-left: 10px;
    }

    .quizOver_progress_box {
        font-size: 16px;
    }

}

@media (max-width: 700px) {
    .quizOver_title_final h2 {
        font-size: 40px;
    }
    .quizOver_title_win > p {
        font-size:  18px;
    }
    .quizOver_title_failed > p {
        font-size: 18px;
    }
}



@media (max-width: 570px) {
    .quizOver {
        width: 85%;
    }
    .quizOver_progress_box {
        font-size: 14px;
    }
    .quizOver_title_win > p {
        font-size:  16px;
    }
    .quizOver_title_failed > p {
        font-size: 16px;
    }
}


@media (max-width: 400px) {
    .quizOver {
        width: 85%;
    }
    .quizOver_progress_box {
        font-size: 13px;
    }
    .quizOver_title_win > p {
        font-size:  15px;
    }
    .quizOver_title_failed > p {
        font-size: 15px;
    }
}